# Entornos virtuales de Python
.venv/
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de Jupyter Notebooks
.ipynb_checkpoints/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Datos grandes u ocultos (por seguridad)
.env